body {
  font-family: "Jura", sans-serif;
  color: white;
  font-size: 18px;
  background-color: blue;
}

.header {
  font-size: 20px;
  padding-left: 2px;
  padding-bottom: 20px;
  padding-top: 20px;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background: blue;
  z-index: 1;
}

.header_name {
  text-align: right;
  position: relative;
  text-decoration: none;
  color: white;
  right: 1%;
}
.header_name :hover {
  text-decoration: underline;
}

.header_title {
  position: absolute;
  text-align: left;
}

a {
  position: relative;
}

video {
  padding-bottom: 25px;
}
