body {
  font-family: "Jura", sans-serif;
  color: blue;
  font-size: 18px;
  background-color: white;
}

.header {
  font-size: 20px;
  padding-left: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.header_name {
  text-align: right;
  position: relative;
}

.header_title {
  position: absolute;
  text-align: left;
}

a {
  position: relative;
}

.intro {
  position: relative;
  text-align: center;

  padding: 200px;
}

.intro_text {
  margin: 0;
  color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .intro_image {
  width: 100%;
} */

.links {
  padding-top: 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 4px;
}

.experiment_link {
  display: flex;
  background: blue;
  padding-bottom: 100%;
}

.experiment_video {
  height: 100%;
}

.experiment_overlay {
  position: absolute;
  padding: 40px;
  margin: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: none;
  color: white;
  text-align: center;
}

a :hover {
  text-decoration: underline;
}

.footer {
  background: white;
  color: blue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  padding-left: 2px;
  padding-top: 40px;
}

.footer_social {
  text-decoration: none;
}
